@media (min-width: 200px) {
  .CartItem {
    height: 50%;
    width: 44%;
  }
  .Name {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .Cost {
    font-size: 20px;
  }
  .DelBtn {
    width: 20%;
    height: 30%;
  }
  .Pic {
  }
}
@media (min-width: 700px) {
  .CartItem {
    height: 50%;
    width: 30%;
  }
  .Name {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .Cost {
    font-size: 20px;
  }
  .DelBtn {
    width: 20%;
    height: 40%;
  }
  .Pic {
    height: 50%;
  }
}
@media (min-width: 700px) {
  .CartItem {
    height: 50%;
    width: 29%;
  }
  .Name {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .Cost {
    font-size: 20px;
  }
  .DelBtn {
    width: 20%;
    height: 30%;
  }
  .Pic {
    height: 50%;
  }
}
@media (min-width: 1200px) {
  .CartItem {
    height: 40%;
    width: 29%;
  }
  .Name {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }

  .Cost {
  }
  .DelBtn {
  }
  .Pic {
  }
}
.CartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 8px;
  height: auto;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
}
.InfItem {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.Name {
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.DelBtn {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(123, 188, 207);
  transition: 0.3s ease;
  width: 20%;
}
.Pic {
  width: 90%;
}
.DelBtn:hover {
  background-color: rgb(212, 112, 95);
  transition: 0.3s;
}
