@media (min-width: 200px) {
  .Cart {
    top: 15%;
    left: 5%;
    right: 5%;
    height: 70%;
  }
  .CartMod {
    top: 15%;
    left: 5%;
    right: 5%;
    height: 70%;
  }
  .CartBlock {
    height: 65%;
    top: 8px;
    left: 8px;
    right: 8px;
  }
  .Information {
    left: 8px;
    right: 8px;
    height: 30%;
    top: 69%;
  }
}

@media (min-width: 1000px) {
  .Cart {
    top: 15%;
    left: 10%;
    right: 10%;
    height: 70%;
  }
  .CartMod {
    top: 15%;
    left: 5%;
    right: 5%;
    height: 70%;
  }
  .CartBlock {
    width: 55%;
    top: 8px;
    left: 8px;
    height: 97%;
  }
  .Information {
    top: 8px;
    height: 97%;
    left: 57%;
  }
}
.CloseBtnCart {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 5px;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.3s ease;
  z-index: 3;
}
.CloseBtnCart:hover {
  transition: 0.3s;
  background-color: rgb(226, 84, 84);
}
h3 {
  margin: 3px;
}

.CartLbl {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  top: 0px;
  width: 100%;
  font-weight: bold;
}
.Cart {
  border-radius: 10px;
  border: 2px solid black;
  position: fixed;
  background-color: aliceblue;
  animation: ani 1s forwards;
  transform: translateX(200vh);
  word-wrap: break-word;
  z-index: 3;
}
.CartMod {
  border-radius: 10px;
  border: 2px solid black;
  position: fixed;
  background-color: aliceblue;
  animation: ani1 1s forwards;
  transform: translateX(200vh);
  word-wrap: break-word;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
}
.CartBlock {
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(197, 197, 197);
  overflow-y: scroll;
  overflow-x: hidden;
}
.CartList {
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
}
.Information {
  display: inline-block;
  position: absolute;
  background-color: silver;
  border-radius: 10px;
  z-index: 1;
}

.back {
  display: inline-block;
  position: absolute;
  background-color: silver;
  border-radius: 10px;
}
@keyframes ani {
  0% {
    transform: translateX(200vh);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ani1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200vh);
  }
}
