.ItemList {
  margin-left: 10%;
  width: 90%;
  position: relative;
  top: 75px;
  background-color: rgb(226, 226, 226);
  height: 200vh;
}

.ItemListBlur {
  margin-left: 10%;
  width: 90%;
  position: relative;
  top: 75px;
  background-color: rgb(226, 226, 226);
  height: 200vh;
  filter: blur(4px) brightness(0.7);
  pointer-events: none;
}
