@media (min-width: 200px) {
  .Item {
    text-align: center;
    border-radius: 5px;
    width: 36.5vw;
    height: 35vh;
    margin-left: 11px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    -webkit-transition: 0.2s ease;
  }
  .Image {
    margin-top: 10px;
    width: 80%;
    height: 40%;
  }
}
@media (min-width: 400px) {
  .Item {
    text-align: center;
    border-radius: 5px;
    width: 36.5vw;
    height: 30vh;
    margin-left: 11px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    -webkit-transition: 0.2s ease;
  }
  .Image {
    margin-top: 10px;
    width: 80%;
    height: 40%;
  }
}
@media (min-width: 700px) {
  .Item {
    text-align: center;
    border-radius: 5px;
    width: 21vw;
    height: 40vh;
    margin-left: 11px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    -webkit-transition: 0.2s ease;
  }
  .Image {
    margin-top: 10px;
    width: 80%;
    height: 50%;
  }
}
@media (min-width: 1000px) {
  .Item {
    text-align: center;
    border-radius: 5px;
    width: 21vw;
    height: 45vh;
    margin-left: 11px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    -webkit-transition: 0.2s ease;
  }
  .Image {
    margin-top: 10px;
    width: 80%;
    height: 50%;
  }
}
@media (min-width: 1200px) {
  .Item {
    text-align: center;
    border-radius: 5px;
    width: 17.1vw;
    height: 40vh;
    margin-left: 11px;
    margin-top: 10px;
    display: inline-block;
    background-color: #ffffff;
    -webkit-transition: 0.2s ease;
  }
  .Image {
    margin-top: 10px;
    width: 80%;
    height: 50%;
  }
}
.Item:hover {
  background-color: #f7f7f7;
  transition: 0.2s;
}
.NameOfItem {
  margin-top: 10px;
  font-size: 25px;
}
.ButtonBuy {
  padding: 8px;
  margin-top: auto;
  margin-bottom: 1%;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(194, 240, 240);
  -webkit-transition: 0.3s ease;
}

.ButtonBuy:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}

.CostLbl {
  margin-top: auto;
}
