@media (min-width: 200px) {
  .ItemList {
    margin-left: 20%;
    width: 80%;
    position: relative;
    top: 75px;
    background-color: rgb(226, 226, 226);
    height: 200vh;
  }
}
@media (min-width: 700px) {
  .ItemList {
    margin-left: 10%;
    width: 90%;
    position: relative;
    top: 75px;
    background-color: rgb(226, 226, 226);
    height: 200vh;
  }
}
