@media (min-width: 200px) {
  .Item {
    width: 37vw;
  }
}
@media (min-width: 400px) {
  .Item {
    width: 37vw;
  }
}
@media (min-width: 700px) {
  .Item {
    width: 26.5vw;
  }
}
@media (min-width: 1000px) {
  .Item {
    width: 20vw;
  }
}
@media (min-width: 1200px) {
  .Item {
    width: 16vw;
  }
}
@media (min-width: 1400px) {
  .Item {
    width: 15.5%;
  }
}
.Image {
  width: 80%;
  height: 50%;
}
.ButtonBuy {
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  background-color: rgb(194, 240, 240);
  transition: 0.3s ease;
}
.CostLbl {
  margin: 1vh;
}
.Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 5px;
  height: auto;
  margin-top: 10px;
  background-color: #ffffff;
  transition: 0.2s ease;
}
.Item:hover {
  background-color: #f7f7f7;
  transition: 0.2s;
}
.NameOfItem {
  margin-top: 10px;
  font-size: 25px;
}

.ButtonBuy:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}
