@media (min-width: 200px) {
  .SearchBtn {
    font-size: 15px;
  }
  .NameLbl {
    top: 25px;
    margin-left: 3%;
    font-size: 1.2rem;
  }
  .SearchBlck {
    flex-direction: column;
    align-items: center;
    left: 30%;
    top: 5%;
    width: 25%;
  }
}
@media (min-width: 800px) {
  .NameLbl {
    top: 2%;
    margin-left: 1%;
    font-size: 2rem;
  }
  .SearchBlck {
    flex-direction: column;
    align-items: center;
  }
  .SearchBlck {
    flex-direction: row;
    left: 27%;
    top: 20%;
    width: 35%;
  }
}
.InputMenu {
  width: 90%;
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  border: 2px white;
  box-shadow: 0px 1px 5px black;
  outline: 0px;
}

.SearchBtn {
  border: 2px solid rgb(110, 168, 168);
  border-radius: 20px;
  background-color: azure;
  transition: 0.3s ease;
}
.NameLbl {
  position: fixed;
  font-weight: bold;
}
.Menu {
  position: fixed;
  top: 0%;
  display: inline-block;
  background-color: rgb(117, 193, 223);
  width: 100%;
  height: 75px;
  border-bottom: 2px solid rgb(79, 152, 180);
  z-index: 1;
}
h1 {
  float: left;
  width: 30%;
}

.CartBtn {
  margin: 10px;
  position: absolute;
  right: 60px;
  padding: 0;
  border-radius: 10px;
  padding: 3px;
  background-color: white;
  align-self: auto;
  -webkit-transition: 0.3s ease;
}
.CartBtn:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}

.NumberOfItems {
  position: absolute;
  top: 33px;
  right: 130px;
  padding: 5px;
  width: 10px;
  border-radius: 10px;
  background-color: rgb(255, 243, 79);
}
.SearchBtn:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}

.PrvtOff {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  border-radius: 10px;
  padding: 3px;
  background-color: white;
  align-self: auto;
  -webkit-transition: 0.3s ease;
}

.PrvtOff:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}
.SearchBlck {
  display: flex;
  position: absolute;
}
