@media (min-width: 200px) {
  .ToolBar {
    width: 20%;
    top: 77px;
    height: 150vh;
  }
  .RangeOfCost {
    width: 40%;
    margin: 5px;
  }
  .Val {
    font-size: 12px;
    margin: 2%;
    width: 20%;
  }
  .ToolBar:hover {
    width: 65%;
    transition: 0.3s;
  }
}
@media (min-width: 700px) {
  .ToolBar {
    width: 15%;
    top: 77px;
    height: 150vh;
  }
  .RangeOfCost {
    width: 50%;
    margin: 5px;
  }
  .Val {
    font-size: 12px;
    margin: 2%;
    width: 15%;
  }
  .ToolBar:hover {
    width: 45%;
    transition: 0.3s;
  }
}
@media (min-width: 1000px) {
  .ToolBar {
    width: 15%;
    top: 77px;
    height: 150vh;
  }
  .RangeOfCost {
    width: 50%;
    margin: 5px;
  }
  .Val {
    font-size: 20px;
    margin: 2%;
    width: 17%;
  }
  .ToolBar:hover {
    width: 35%;
    transition: 0.3s;
  }
}
@media (min-width: 1400px) {
  .ToolBar {
    width: 10%;
    top: 77px;
    height: 150vh;
  }
  .RangeOfCost {
    width: 50%;
    margin: 5px;
  }
  .Val {
    font-size: 15px;
    margin: 2%;
  }
  .ToolBar:hover {
    width: 25%;
    transition: 0.3s;
  }
}
.ToolBar {
  position: fixed;
  background-color: rgb(206, 206, 206);
  border-right: 2px solid rgb(146, 146, 146);
  transition: 0.3s ease;
  z-index: 1;
}

.RangeOfCost {
  animation: ani11 1s forwards;
  display: none;
}
.Val {
  text-align: center;
  animation: ani11 1s forwards;
  padding: 4px;
  border-radius: 10px;
  background-color: azure;
  display: none;
}
.labelTool {
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: bold;
  display: block;
  transition: 0.3s;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.NumOfCost {
  height: 18px;
  border: 2px solid black;
  background-color: azure;
  width: 10%;
  display: none;
}

.SortBtn {
  width: 30%;
  animation: ani11 1s forwards;
  display: none;
  margin-left: 35%;
  font-size: 20px;
  background-color: rgb(123, 188, 207);
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.SortBtn:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}
.CostLabel {
  font-size: 1rem;
  text-align: center;
  padding: 8px;
  width: auto;
  border-radius: 10px;
  background-color: azure;
  display: block;
  transition: 0.3s;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes ani11 {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}
