@media (min-width: 200px) {
  .ToolBar {
    position: fixed;
    width: 20%;
    top: 77px;
    background-color: rgb(206, 206, 206);
    height: 150vh;
    z-index: 0;
    border-right: 2px solid rgb(146, 146, 146);
    -webkit-transition: 0.3s ease;
    z-index: 1;
  }

  .ToolBar:hover {
    width: 65%;
    transition: 0.3s;
  }
  .RangeOfCost {
    animation: ani11 1s forwards;
    display: none;
    width: 40%;
    margin: 5px;
  }
  .Val {
    text-align: center;
    animation: ani11 1s forwards;
    padding: 4px;
    margin: 2%;
    border-radius: 10px;
    background-color: azure;
    width: 21%;
    display: none;
  }
}
@media (min-width: 700px) {
  .ToolBar {
    position: fixed;
    width: 10%;
    top: 77px;
    background-color: rgb(206, 206, 206);
    height: 150vh;
    z-index: 0;
    border-right: 2px solid rgb(146, 146, 146);
    -webkit-transition: 0.3s ease;
    z-index: 1;
  }

  .ToolBar:hover {
    width: 25%;
    transition: 0.3s;
  }
  .RangeOfCost {
    animation: ani11 1s forwards;
    display: none;
    width: 55%;
    margin: 5px;
  }
  .Val {
    text-align: center;
    animation: ani11 1s forwards;
    padding: 4px;
    margin: 2%;
    border-radius: 10px;
    background-color: azure;
    width: 15%;
    display: none;
  }
}

.labelTool {
  margin-top: 20px;
  font-weight: bold;
  display: block;
  transition: 0.3s;
  width: 100%;
  text-align: center;
  font-size: 35px;
}
.NumOfCost {
  height: 18px;
  border: 2px solid black;
  background-color: azure;
  width: 10%;
  display: none;
}

.SortBtn {
  animation: ani11 1s forwards;
  display: none;
  margin-left: 42%;
  font-size: 20px;
  background-color: rgb(123, 188, 207);
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
}

.SortBtn:hover {
  background-color: rgb(230, 207, 79);
  transition: 0.3s;
}
.CostLabel {
  font-size: 1.1rem;
  text-align: center;
  padding: 8px;
  width: auto;
  border-radius: 10px;
  background-color: azure;
  display: block;
  transition: 0.3s;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes ani11 {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}
